*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
}
/* header{
    background-color: antiquewhite;

} */
.container{
    max-width: 1200px;
    margin: auto;
}
.logo span{
     color: #fd620a;
}
.cmn-button{
    font-size: 16px;
    background-color: #fd620a;
    padding: 8px 3px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;

}
.outline-button{
    font-size: 16px;
    background-color: #ffffff;
    padding: 8px 3px;
    border-radius: 5px;
    color: #fd620a;
    font-weight: bold;
    border: 1px solid #fd620a;
    cursor: pointer;

}
nav{
    align-items: center;
    display: flex; 
    justify-content: space-between;
    margin: auto;
    padding: 12px 0px ;
    max-width: 1200px;
}
ul{
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 15px;
    align-items: center;
}
ul li a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}
ul li button{
    padding: 1px;
    width: 100px;
    border-radius: 5px;
}

/* hero section */
.hero-parent-root{
    background-color: #fff8f3;
}
.hero-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}
.hero-left h2{
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 12px;
}
.hero-left p{
    font-size: 20px;
    font-weight: 600;
}
.hero-right{
    height: 500px;
    width: 500px;
}
.hero-left-p-1 button{
    gap: 10px;
}
.hero-left-p-1{
    font-size: 28px;
}
.hero-left-btn-parent{
    margin-top: 12px;
}


/* about us css */

.about-parent{
    max-width: 60%;
    height: 250px;
    background-color: #fff8f3;
    margin: 80px auto;
    border-radius: 10px;
    padding: 100px;
    text-align: center;
}
.about-parent h2 {
    margin-bottom: 50px;
}
.about-box-parent{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.about-parent .box{
    background-color: #ffefe4;
    padding: 5px;
    border-radius: 5px;
    height: 50px;
    align-items: center;
}


/* what is do section css  */

.what-i-do-parent{
    margin: 60ps auto;
    text-align: center;

}

.what-i-do-card-container{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.what-i-do-card-container .what-i-do-card{
    border: 1px solid  #fd620a;
    width: 160px;
    padding: 50px;
    border-radius: 10px;
    text-align: left;
    margin-bottom: 20px;
    box-shadow: 0 0 15px 5px rgba(229, 229, 229, 0.5);
}
.what-i-do-card-container .what-i-do-card h2{
    margin: 10px 0px;
}
.what-i-do-card p{
    font-size: 15px;
    margin-top: 20px;
    color: rgb(158, 158, 158);
}


/* my amazing works */

.my-amaazing-parent{
    text-align: center;
}
.gallery{
    box-shadow: 0 0 15px 5px rgba(229, 229, 229, 0.5);
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    grid-auto-rows: 250px;
    grid-template-areas: 
    "one two three"
    "four two six"
    "four five six"
    ;
    /* most important */
    /* layout becomes powerful here  */
}

.gallery img{
    border-radius: 5px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.box1{
    grid-area: one;
}

.box2{
    grid-area: two;
}

.box3{
    grid-area: three;
}

.box4{
    grid-area: four;
}

.box5{
    grid-area: five;
}

.box6{
    grid-area: six;
}


/* footer  */
footer{
    text-align: center;
    margin-top: 70px !important;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: #fff8f3;
    padding: 80px;

}
.footer-left{
    text-align: left;
}
.footer-left p{
    margin: 12px 0px;
}
.footer-right{
    text-align: left;
}

footer form input,footer form textarea{
    width: 100%;
    border: none;
    background-color: white;
    padding: 8px 15px;
    margin-bottom: 15px;

}